@media only screen and (max-width: 800px){

.image-gallery li {
  width: 100%;
  padding: 0 .5em;
}

.site-nav ol, .site-header {
  float: left;
  margin-left: 0;
  padding-left: 0.5em;
}

.site-nav li:first-child {
  margin-left: -0.5em;
}

.site-nav a {
  color: red;
}
#contact, #about {
  width: 100%;
  margin: 0;
}

#about {
  font-size: 1.3em;
  padding: 0 .5em 3em;
}

#contact {
  font-size: .65em;
  padding: 0 .5em 3em;
}

#about, #contact, #portfolio {
  margin-top: -150px;
  padding-top: 150px;
}

}

