* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.container {
  margin: 0 auto;
  max-width: 50em;
}

.site-header {
  background: #fff;
  border-bottom: .1875em solid red;
  left: 0;
  margin: 0 auto;
  max-width: 50em;
  padding-bottom: .33em;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 1em;
  position: fixed;
  right: 0;
  top: 0;
}

.site-title {
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
}

.site-nav , .image-gallery {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav li {

}
.site-nav ol {
  float: right;
}

.site-nav li {
  float: left;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .9em;
  list-style: none;
  margin-left: .9em;
  margin-bottom: 1em;
}

.site-main {
  clear: both;
  padding-bottom: 4em;
  padding-top: 8em;
}

.site-nav a, a:visited {
  color: black;
  text-decoration: none;
}

.image-gallery li {
  float: left;
  margin-bottom: 3%;
  margin-left: 0;
  margin-right: 3%;
  width: 48.5%;
}

.image-gallery li:nth-child(even) {
  margin-right: 0 !important;
}


.site-footer {
  border-top: .1875em solid red;
  color: grey;
  padding-bottom: 5em;
  padding-top: 5em;
  text-align: center;

}

.page-section a {
color: red;
}

#about {
  word-spacing: .2em;
}

#about, #contact {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 6em;
  margin-left: 51.5%;
  width: 48.5%;
}

#contact {
  font-size: .65em;
  margin-top: 7em;
}

#contact ul {
  font-size: 1.4em;
  line-height: 1.7em;
  padding-left: 5%;
}

#about, #contact, #portfolio {
  margin-top: -100px;
  padding-top: 100px;
}

